#youtube
pw61uyA0F8A
9EHiS0dU5GI
MA65V-oLKa8?si
quHQAuO0lkg
8Zw8ylP4buA
eqrk7-mx2D0
GTznf1x4khc
UqIcnyHi4n0
BBqYaFEWBxI
6kw1UVovByw
7GqClqvlObY
BIhNsAtPbPI


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
