body {
    background: url('./assets/background2.jpg') no-repeat center center fixed;
    background-size: contain;
    background-color: black; /* This color will fill any space around the image */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh; /* Ensure the body takes up the full viewport height */
  }

  h2 {
    color: aliceblue;
  }
  