
.navbar {
    background-color: black;
    width: 100%; /* Ensure navbar spans the full width */
    position: fixed; /* Fixed position to stay at the top */
    top: 0; /* Align to the top of the viewport */
    z-index: 1000; /* Ensure it's above other content */
  }
  
.navbar {
    background-color: black;
  }
  
  .navbar .navbar-brand,
  .navbar .nav-link {
    color: white;
  }
  